.header img[src="public/img/loading.gif"] {
  margin: auto;
  width: 24px
}

section {
  z-index: 3
}

.header {
  padding-top: 10vh
}

.header .container {
  max-width: 35rem
}

.header .box {
  padding: 3%
}

.header h1 {
  margin: 5% 0
}

.header h2 {
  font-size: 1.75rem
}

.header h3 {
  margin: 5% 0
}

.header img {
  margin: 0;
  max-width: 480px;
  transform: translateX(-7.5%);
  width: 80%
}

.proposta h2 {
  max-width: 50rem
}

.proposta .container {
  padding: 2% 0
}

.proposta .container span {
  font-size: 1.25rem
}

.proposta .wrapper {
  align-items: stretch;
  padding: 5% 0
}

.proposta .box {
  align-items: start;
  aspect-ratio: 3/1;
  justify-content: start;
  margin-right: 16px;
  padding: 3%;
  width: 364px
}

.proposta .box .date {
  font-weight: 100
}

.inscreva {
  background-color: var(--colorPrimary);
  box-shadow: var(--boxShadow2);
  padding: 52px;
  text-align: center
}

.inscreva h2 {
  font-weight: 700
}

.inscreva p {
  margin: 24px
}

.inscreva button {
  border: none;
  border-radius: 24px;
  box-shadow: var(--boxShadow2);
  color: var(--colorPrimary);
  cursor: pointer;
  font-family: Bahnschrift,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 24px auto;
  padding: 24px 64px;
  transition: .2s ease-out
}

.inscreva button:hover {
  transform: scale(101%)
}

.inscreva .tab-button {
  aspect-ratio: 1;
  background-color: var(--colorBase);
  box-shadow: var(--boxShadow2);
  mask-image: url(../../public/img/svg/upside-down-bell.svg);
  -webkit-mask-image: url(../../public/img/svg/upside-down-bell.svg);
  mask-position: top;
  -webkit-mask-position: top;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  top: 0;
  width: 96px;
  z-index: 1
}

.inscreva .tab-button,.inscreva img {
  left: 50%;
  position: absolute;
  transform: translateX(-50%)
}

.inscreva img {
  margin: auto;
  top: -7.5%;
  width: 32px;
  z-index: 3
}

.sobre {
  padding: 0
}

.sobre .wrapper {
  justify-content: space-evenly;
  position: relative
}

.sobre .container {
  flex-basis: 40%;
  padding: 5%
}

.sobre .container p {
  font-size: .8rem
}

.sobre img {
  bottom: 0;
  left: 25%;
  position: absolute;
  transform: translateX(-50%);
  width: 600px
}

.bg-img {
  opacity: .8;
  position: absolute;
  right: 7.5%;
  top: 0;
  width: 50vw;
  z-index: 1
}

@media screen and (max-width: 1024px) {
  .bg-img {
      filter:blur(1px);
      opacity: .5;
      transform: translateX(0)
  }

  .header .container {
      max-width: 35rem
  }

  .header .box {
      padding: 3%
  }

  .header h1 {
      margin: 5% 0
  }

  .header h2 {
      font-size: 1.25rem
  }

  .header h3 {
      margin: 5% 0
  }

  .header img {
      margin: 0;
      transform: translateX(-7.5%)
  }

  .proposta h2 {
      max-width: 50rem
  }

  .proposta h2,.proposta h3 {
      margin: auto;
      text-align: center
  }

  .proposta .box {
      height: 180px;
      width: 256px
  }

  .sobre {
      padding: 0
  }

  .sobre .wrapper {
      justify-content: space-evenly;
      position: relative
  }

  .sobre .container {
      flex-basis: 50%;
      padding: 5% 2.5%
  }

  .sobre .container p {
      font-size: .8rem
  }

  .sobre img {
      bottom: 0;
      left: 25%;
      position: absolute;
      transform: translateX(-50%);
      width: 480px
  }
}

@media screen and (max-width: 768px) {
  .bg-img {
      display:block;
      filter: blur(3px);
      opacity: .3;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
      z-index: 1
  }

  .header {
      background-position-x: 125%;
      background-position-y: 50%;
      background-size: 60%;
      text-align: center
  }

  .header,.header .content-default {
      background-image: none
  }

  .header .container {
      max-width: 35rem
  }

  .header .box {
      padding: 3%
  }

  .header h1 {
      margin: 5% 0
  }

  .header h2 {
      font-size: 1.5rem
  }

  .header h3 {
      margin: 5% 0
  }

  .header img {
      margin: 0 auto;
      transform: translateX(0)
  }

  .proposta h2 {
      max-width: 50rem
  }

  .proposta h2,.proposta h3 {
      margin: auto;
      text-align: center
  }

  .proposta .wrapper {
      flex-flow: row wrap
  }

  .proposta span {
      margin: 0 auto
  }

  .proposta .box {
      height: 128px;
      margin: 12px 0;
      text-align: center;
      width: 100%
  }

  .proposta .box p {
      margin: 12px auto
  }

  .sobre {
      padding: 0
  }

  .sobre .wrapper {
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 60vw;
      position: relative
  }

  .sobre .container {
      flex-basis: 50%;
      padding: 5% 2.5%
  }

  .sobre .container p {
      font-size: .8rem
  }

  .sobre img {
      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 100%
  }
}
