:root {
    --colorPrimary: #0986BF;
    --colorSecondary: #11e9de;
    --colorAccent: #45f063;
    --colorBase: #0a0a0a;
    --boxShadow1: rgba(0, 0, 0, 0.1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, 0.05) 0px 2px 3px -1px;
    --boxShadow2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --gradient: linear-gradient(to right, var(--colorPrimary), var(--colorSecondary), var(--colorAccent));
    font-size: 12pt;
}

.gradient {
    background-image: linear-gradient(to right, var(--colorPrimary), var(--colorSecondary), var(--colorAccent));
    background-clip: content-box;
    background-size: 180%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
}

.primary-color {
    color: var(--colorPrimary);
}

.secondary-color {
    color: var(--colorSecondary);
}

.accent-color {
    color: var(--colorAccent);
}

.base-color {
    color: var(--colorBase);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Bahnschrift", sans-serif;
    color: #FFFFFF;
    background-color: #092430;
}

span, img, label, button, svg, h1, h2, h3, h4, h5, h6, p {
    display: block;
    margin: 0;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
}

p, span, li, input {
    font-size: 1rem;
    font-weight: 400;
}

mark {
    background: none;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

svg, button, img {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

button:focus, input:focus, select:focus {
    outline: none;
}

form {
    width: 100%;
}

input {
    border-radius: 12px;
    padding: 2%;
    opacity: 0.8;
    transition: 0.1s ease-in;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #ffffff5d;
    border: none;
    margin: 5px auto;
    width: 100%;
    box-shadow: var(--boxShadow1);
    &:focus {
        opacity: 1;
    }
    &::placeholder {
        color: #FFFFFF;
        opacity: 0.8;
    }
}

.my-button {
    font-family: "Poppins", sans-serif;
    padding: 2%;
    margin: 5px auto;
    border-radius: 12px;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--colorAccent);
    background-image: linear-gradient(45deg, var(--colorPrimary), var(--colorAccent));
    background-size: 150%;
    background-position: 0%;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    box-shadow: var(--boxShadow2);
    transition: 0.2s ease-out;
    cursor: pointer;
    &:hover {
        transform: scale(101%) translateY(-1px); filter: brightness(110%);
    }
}

.divider {
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-image: radial-gradient(#FFFFFF, #ffffff00);
    opacity: 0.5;
}

.divider.left {
    margin: 10px 0;
    background-image: linear-gradient(to right, #FFFFFF, #ffffff00);
}

section {
    position: relative;
    padding: 24px 0;
}

.content {
    max-width: 100%;
    margin: auto;
}

.content-default {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
    background-size: 300%;
    box-shadow: var(--boxShadow1);
}

[data-button=container] {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7.5vw;
    aspect-ratio: 1/2;
    z-index: 999;
    a {
        display: flex;
        flex-basis: 50%;
        flex-grow: 1;
        margin: .25vw;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        button {
            position: absolute;
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            border: solid .25vw #FFFFFF;
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {filter: brightness(110%);}
        }
    }
}

[data-button=scroll-top] button {
    background-color: var(--colorPrimary);
    background-image: url(../../public/img/svg/home-button.svg);
}

[data-button=whatsapp] button {
    background-color: #25d366;
    background-image: url(../../public/img/svg/whatsapp.svg);
}

@media screen and (max-width: 768px) {
    .divider {
        width: 100%;
        height: 1px;
        margin: 10px auto;
        background-image: radial-gradient(#FFFFFF, #ffffff00);
        opacity: 0.5;
    }
    
    .divider.left {
        margin: 10px 0;
        background-image: linear-gradient(to right, #FFFFFF, #ffffff00);
    }
    [data-button=container] {
        position: fixed;
        bottom: 1vw;
        right: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vw;
        aspect-ratio: 1/2;
        z-index: 999;
        a {
            display: flex;
            flex-basis: 50%;
            flex-grow: 1;
            margin: 3px;
            aspect-ratio: 1;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            button {
                position: absolute;
                width: 100%;
                aspect-ratio: 1;
                border-radius: 50%;
                border: solid 3px #FFFFFF;
                background-position: center;
                background-size: 60%;
            }
        }
    }
    
}

