@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --colorPrimary: #0986bf;
    --colorSecondary: #11e9de;
    --colorAccent: #45f063;
    --colorBase: #0a0a0a;
    --boxShadow1: rgba(0, 0, 0, .1) 0px 5px 7.5px -1.5px, rgba(0, 0, 0, .05) 0px 2px 3px -1px;
    --boxShadow2: rgba(0, 0, 0, .24) 0px 3px 8px;
    --gradient: linear-gradient(to right, var(--colorPrimary), var(--colorSecondary), var(--colorAccent));
    font-size: 12pt
}

.gradient {
    -webkit-text-fill-color: transparent;
    background-clip: content-box;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #0986bf, #11e9de, #45f063);
    background-image: linear-gradient(to right, var(--colorPrimary), var(--colorSecondary), var(--colorAccent));
    background-size: 180%;
    font-weight: 700
}

.primary-color {
    color: #0986bf;
    color: var(--colorPrimary)
}

.secondary-color {
    color: #11e9de;
    color: var(--colorSecondary)
}

.accent-color {
    color: #45f063;
    color: var(--colorAccent)
}

.base-color {
    color: #0a0a0a;
    color: var(--colorBase)
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body, html {
    background-color: var(--colorBase);
    color: #fff;
    font-family: Bahnschrift, sans-serif;
    margin: 0;
    padding: 0
}

button, h1, h2, h3, h4, h5, h6, img, label, p, span, svg {
    display: block;
    margin: 0;
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

h1 {
    font-size: 2rem;
    font-weight: 800
}

h2 {
    font-size: 1.5rem;
    font-weight: 500
}

h3 {
    font-size: 1rem;
    font-weight: 300
}

input, li, p, span {
    font-size: 1rem;
    font-weight: 400
}

mark {
    background: none
}

a:active, a:link, a:visited {
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none
}

button, img, svg {
    -moz-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}

button:focus, input:focus, select:focus {
    outline: none
}

form, input {
    width: 100%
}

input {
    background-color: hsla(0, 0%, 100%, .365);
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 7.5px -1.5px rgba(0, 0, 0, .1), 0 2px 3px -1px rgba(0, 0, 0, .05);
    box-shadow: var(--boxShadow1);
    color: #fff;
    font-family: Bahnschrift, sans-serif;
    margin: 5px auto;
    opacity: .8;
    padding: 2%;
    transition: .1s ease-in
}

input:focus {
    opacity: 1
}

input::-moz-placeholder {
    color: #fff;
    opacity: .8
}

input::placeholder {
    color: #fff;
    opacity: .8
}

.my-button {
    background-color: #45f063;
    background-color: var(--colorAccent);
    background-image: linear-gradient(45deg, #0986bf, #45f063);
    background-image: linear-gradient(45deg, var(--colorPrimary), var(--colorAccent));
    background-position: 0;
    background-size: 150%;
    border: 1px solid #fff;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .24);
    box-shadow: var(--boxShadow2);
    color: #fff;
    cursor: pointer;
    font-family: Bahnschrift, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 5px auto;
    padding: 2%;
    transition: .2s ease-out;
    width: 100%
}

.my-button:hover {
    filter: brightness(110%);
    transform: scale(101%) translateY(-1px)
}

.divider {
    background-image: radial-gradient(#fff, hsla(0, 0%, 100%, 0));
    height: 1px;
    margin: 10px auto;
    opacity: .5;
    width: 100%
}

.divider.left {
    background-image: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
    margin: 10px 0
}

section {
    padding: 24px 0;
    position: relative
}

.content {
    margin: auto;
    max-width: 100%
}

.content-default {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1280px;
    width: 80%
}

.wrapper {
    align-items: center;
    display: flex;
    flex-basis: 100%
}

.container {
    display: flex;
    flex-direction: column
}

.line {
    flex-basis: 100%;
    position: relative
}

.box, .line {
    align-items: center;
    display: flex
}

.box {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-image: linear-gradient(to bottom right, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0));
    background-size: 300%;
    border: 1px solid hsla(0, 0%, 100%, .5);
    border-radius: 20px;
    box-shadow: 0 5px 7.5px -1.5px rgba(0, 0, 0, .1), 0 2px 3px -1px rgba(0, 0, 0, .05);
    box-shadow: var(--boxShadow1);
    flex-direction: column;
    justify-content: space-between;
    padding: 1%
}

[data-button=container] {
    aspect-ratio: 1/2;
    bottom: 1vw;
    flex-direction: column;
    height: 7.5vw;
    position: fixed;
    right: 1vw;
    z-index: 999
}

[data-button=container], [data-button=container] a {
    align-items: center;
    display: flex;
    justify-content: center
}

[data-button=container] a {
    aspect-ratio: 1;
    flex-basis: 50%;
    flex-grow: 1;
    margin: .25vw;
    position: relative;
    left: 150px;
    transition: .3s cubic-bezier(.175, .885, .32, 1.275)
}

[data-button=container] a button {
    aspect-ratio: 1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    border: .25vw solid #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transition: .2s ease-in-out;
    width: 100%
}

[data-button=container] a button:hover {
    filter: brightness(110%)
}

[data-button=scroll-top] button {
    background-color: #0986bf;
    background-color: var(--colorPrimary);
    background-image: url(../../public/img/svg/home-button.svg)
}

[data-button=whatsapp] button {
    background-color: #25d366;
    background-image: url(../../public/img/svg/whatsapp.svg)
}

@media screen and (max-width:768px) {

    .divider.left {
        background-image: radial-gradient(#fff, hsla(0, 0%, 100%, 0));
        margin: 10px 0
    }

    [data-button=container] {
        aspect-ratio: 1/2;
        bottom: 1vw;
        flex-direction: column;
        height: 30vw;
        position: fixed;
        right: 1vw;
        z-index: 24
    }

    [data-button=container], [data-button=container] a {
        align-items: center;
        display: flex;
        justify-content: center
    }

    [data-button=container] a {
        aspect-ratio: 1;
        flex-basis: 50%;
        flex-grow: 1;
        margin: 3px;
        position: relative;
        transition: .3s cubic-bezier(.175, .885, .32, 1.275)
    }

    [data-button=container] a button {
        aspect-ratio: 1;
        background-position: 50%;
        background-size: 60%;
        border: 3px solid #fff;
        border-radius: 50%;
        position: absolute;
        width: 100%
    }
}

/*# sourceMappingURL=style.css.map */