.header .content-default {
  background-image: url(../../public/img/foto-capa-1.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: contain;
}
.header .container {
  max-width: 35rem;
}
.header .box {
  padding: 3%;
}
.header h1 {
  margin: 5% 0;
}
.header h2 {
  font-size: 1.25rem;
}
.header h3 {
  margin: 5% 0;
}
.header img {
  margin: 0;
  transform: translateX(-7.5%);
}

.proposta h2 {
  max-width: 50rem;
}
.proposta .container {
  padding: 2% 0;
}
.proposta .container span {
  font-size: 1.25rem;
}
.proposta .wrapper {
  padding: 5% 0;
  align-items: stretch;
}
.proposta .box {
  aspect-ratio: 3/1;
  width: 364px;
  padding: 3%;
  margin-right: 16px;
  align-items: start;
  justify-content: start;
}
.proposta .box .date {
  font-weight: 100;
}

.inscreva {
  padding: 52px;
  background-color: var(--colorPrimary);
  text-align: center;
  box-shadow: var(--boxShadow2);
}
.inscreva h2 {
  font-weight: 700;
}
.inscreva p {
  margin: 24px;
}
.inscreva button {
  margin: 24px auto;
  padding: 24px 64px;
  color: var(--colorPrimary);
  font-family: "Bahnschrift", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: var(--boxShadow2);
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.inscreva button:hover {
  transform: scale(101%);
}
.inscreva .tab-button {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #092430;
  width: 96px;
  aspect-ratio: 1;
  mask-image: url(../../public/img/svg/upside-down-bell.svg);
  -webkit-mask-image: url(../../public/img/svg/upside-down-bell.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: top;
  -webkit-mask-position: top;
  box-shadow: var(--boxShadow2);
}
.inscreva img {
  position: absolute;
  top: -7.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  margin: auto;
  z-index: 3;
}

.sobre {
  padding: 0;
}
.sobre .wrapper {
  justify-content: space-evenly;
  position: relative;
}
.sobre .container {
  flex-basis: 40%;
  padding: 5%;
}
.sobre .container p {
  font-size: 0.8rem;
}
.sobre img {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateX(-50%);
  width: 600px;
}

.footer {
  text-align: center;
  background-color: #1b1b1c;
}
.footer .wrapper {
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .header {
    background-image: url(../../public/img/foto-capa-1.png);
    background-position-x: 125%;
    background-position-y: 50%;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .header .content-default {
    background-image: none;
  }
  .header .container {
    max-width: 35rem;
  }
  .header .box {
    padding: 3%;
  }
  .header h1 {
    margin: 5% 0;
  }
  .header h2 {
    font-size: 1.25rem;
  }
  .header h3 {
    margin: 5% 0;
  }
  .header img {
    margin: 0;
    transform: translateX(-7.5%);
  }
  .proposta h2 {
    max-width: 50rem;
    text-align: center;
    margin: auto;
  }
  .proposta h3 {
    text-align: center;
    margin: auto;
  }
  .proposta .box {
    height: 180px;
    width: 256px;
  }
  .sobre {
    padding: 0;
  }
  .sobre .wrapper {
    justify-content: space-evenly;
    position: relative;
  }
  .sobre .container {
    flex-basis: 50%;
    padding: 5% 2.5%;
  }
  .sobre .container p {
    font-size: 0.8rem;
  }
  .sobre img {
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translateX(-50%);
    width: 512px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    background-position-x: 125%;
    background-position-y: 50%;
    background-size: 60%;
    text-align: center;
    background-image: none;
  }
  .header .content-default {
    background-image: none;
  }
  .header .container {
    max-width: 35rem;
  }
  .header .box {
    padding: 3%;
  }
  .header h1 {
    margin: 5% 0;
  }
  .header h2 {
    font-size: 1.25rem;
  }
  .header h3 {
    margin: 5% 0;
  }
  .header img {
    margin: 0;
    transform: translateX(0);
  }
  .proposta h2 {
    max-width: 50rem;
    text-align: center;
    margin: auto;
  }
  .proposta h3 {
    text-align: center;
    margin: auto;
  }
  .proposta .wrapper {
    flex-flow: row wrap;
  }
  .proposta span {
    margin: 0 auto;
  }
  .proposta .box {
    height: 128px;
    width: 100%;
    margin: 12px 0;
    text-align: center;
  }
  .sobre {
    padding: 0;
  }
  .sobre .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 60vw;
  }
  .sobre .container {
    flex-basis: 50%;
    padding: 5% 2.5%;
  }
  .sobre .container p {
    font-size: 0.8rem;
  }
  .sobre img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
