.topnav {
    width: 100%;
    padding: 1%;
    img {
        width: 164px;
    }
}

.header {
    width: 100%;
    strong {
        font-size: 3rem;
        margin: 12px;
        color: var(--colorAccent);
    }
    .my-button {
        padding: 2%;
        background-color: #25d365d0;
        background-image: url(../../public/img/svg/whatsapp.svg);
        background-size: 15%;
        background-position: 10%;
        background-repeat: no-repeat;
        width: 80%;
        margin: 24px 0;
        border: none;
        font-size: 1.5rem;
    }
    .container {
        margin: 2% 0;
        width: 80%;
    }
    h3 {
        opacity: 0.8;
        a {
            text-decoration: underline;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.footer {
    text-align: center;
    background-color: #1b1b1c;
    .wrapper {justify-content: center}
}
